html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $color_text_primary;
}

main {
    background: $color_main_bg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: none;

    &::before, &::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
}