.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.u-m-60-t {
    margin-top: 6rem;
}

.u-m-35-t {
    margin-top: 3.5rem;
}

.u-m-width-half {
    max-width: 50%;
}