//Colors

$color_primary: #ffb600;
$color_text_primary: #262626;
$color_grey: #b2b2b2;
$color_light_grey: #999;
$color_black: #000;
$color_white: #fff;
$color_blue: #017dc7;
$color_green: #4ea75d;
$color_red: #e43729;

//Sections colors

$color_header_bg: #5b5859;
$color_footer_bg: #5b5859;

$color_main_bg: #eef2f7;



