.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: $color_primary;
    color: $color_black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}