<header class="header">
        <div class="container">
            <div class="header__flex-box">
                <div class="header__logo-wrapper">
                    <a href="#"><img src="img/header-logo@1x.png" alt="Логотип"><span class="visually-hidden">На главную</span></a>
                </div>
                <nav class="header__nav">
                    <a href="#" class="header__nav-link">О компании</a>
                    <a href="#" class="header__nav-link header__nav-link--current">Топливные карты</a>
                    <a href="#" class="header__nav-link">Партнеры</a>
                    <a href="#" class="header__nav-link">Эмитентам карт</a>
                    <a href="#" class="header__nav-link">Контакты</a>
                    <a href="#" class="header__nav-link">Карта АЭС</a>
                </nav>
                <div class="header__contacts">
                    <p class="header__phone">8 800 222 54 97</p>
                    <a href="mailto:info@petrolcards.ru" class="header__email">info@petrolcards.ru</a>
                </div>
                <div class="header__compare">
                    <span class="compare compare--header"><i class="list"></i> <span class="compare__num">4</span></span>
                </div>
            </div>
        </div>
    </header>